## Agate and Pandas
Agate and Pandas are compatable. This cookbook will show you how to convert from Agate Tables to Pandas DataFrames, why you might want to do that, and some additional documentation.

In [1]:
## import agate, pandas
import agate
import pandas as pd

## Agate -> Pandas
- First, we load the data into an agate table.

In [6]:
table = agate.Table.from_csv('../examples/realdata/ks_1033_data.csv')
print(table)

<agate.table.Table object at 0x10c2afb90>

- Then, we assemble the data into a dictionary.

In [49]:
temp_dict = {}
for ix, row in enumerate(table.rows):
    temp_dict[ix] = row

- Then, we convert the dict to a DataFrame
- Then, we reset the columns to the ones from the agate table.

In [59]:
df = pd.DataFrame.from_dict(temp_dict, orient='index')
df.columns = table.column_names

In [64]:
df.head()

,state,county,fips,nsn,item_name,quantity,ui,acquisition_cost,total_cost,ship_date,federal_supply_category,federal_supply_category_name,federal_supply_class,federal_supply_class_name
0,KS,ALLEN,20001,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499,499,2006-05-19,10,WEAPONS,1005,"Guns, through 30 mm"
1,KS,ALLEN,20001,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499,499,2006-05-19,10,WEAPONS,1005,"Guns, through 30 mm"
2,KS,ALLEN,20001,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499,499,2006-05-19,10,WEAPONS,1005,"Guns, through 30 mm"
3,KS,ALLEN,20001,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499,499,2006-05-19,10,WEAPONS,1005,"Guns, through 30 mm"
4,KS,ALLEN,20001,1005-00-073-9421,"RIFLE,5.56 MILLIMETER",1,Each,499,499,2012-04-16,10,WEAPONS,1005,"Guns, through 30 mm"

## Pandas -> Agate

In [67]:
## load and create a dataframe
df = pd.read_csv('../examples/realdata/ks_1033_data.csv')

In [89]:
new_table = agate.Table(

ValueError: need more than 1 value to unpack

In [80]:
new_table.